.contenedor{
    width: 1200px;
    height: 200px;
    position: relative;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
.c0 {float: left; width: 200px;height: 200px; }
.c1{background-color: #FDA100;}
.c2{background-color: yellow;}
.c3{background-color: aqua;}
.c4{background-color: #0000FF;}
.c5{background-color: #000088;}
.c6{background-color:#00007D;}
.icono{
   padding: auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 43px;
   color: white;
}
.texto{
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    color: white;
    font-weight: lighter;
}
.enlaces{ text-align: center;margin: 30px;}
a{ padding: 30px; font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link{color: pink;}
a:hover{ color: orange;}
a:active {color: yellow;}
a:visited{color: purple;}
