*{font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; font-size: 70px;}
.contenedor1{
    max-width: 100%;
    width: 80%;
    margin: auto;
    align-content: center;
   
}
.contenedor2{
    max-width: 100%;
    width: 80%;
    margin: auto;
    align-content: center;
 
}

.contenedor3{
    max-width: 100%;
    width: 80%;
    margin: auto;
    align-content: center;
  
}

img{
    width: 20%;
    filter: blur(4px);

}
img:hover{
 filter: blur(0);
}